*{
  margin: 0;
  padding: 0;
  font-family: Roboto,arial;
}
body{
  height: 1500px;
}
:root{
  --main-color:rgb(15, 15, 15);
  --text-color:rgb(250,250,250);
  --more-tag:rgb(66, 66, 238);
}
.nav-bar{
background-color: var(--main-color);
display: flex;
align-items: center;
justify-content: space-between;
height: 80px;
}
.left-nav-bar{
  align-items: center;
  margin-left:65px;
  display: flex;
  padding: 10px 10px;
}
.logo{
  height: 30px;
  margin-right: 5px ;
}
.line {
  width: 5px;
  height: 28px;
  background-color: rgb(215, 14, 14);
  margin: 5px 5px;
}
.logo-text,.help{
  margin-right: 10px;
  color: var(--text-color);
  font-family: roboto,arial;
  font-size: 30px;
  cursor: pointer;
}
.right-nav-bar{
  margin-right: 100px;
  display: flex;
  column-gap: 10px;
}
.reqst-btn{
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
  font-size: 24px;
  cursor: pointer;
}
.sign-btn{
  border: none;
  background-color: rgba(95, 95, 245, 0.979);
  color: var(--text-color);
  padding: 5px 12px 5px 12px;
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
}
.header{
  background-color: rgb(10, 241, 241);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
#help-text{
  font-family: Roboto,arial;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 40px;
}
.search-corner{
 width: 35vw;
 height: 2vw;
 padding: 10px;
 color: rgb(15, 2, 2);
 border:1px solid rgb(160, 158, 158);
 border-radius: 2px;
 font-size: 30px;
}
.search-btn-arrow{
  position: relative;
}
.arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.hero-container{
  display: grid;
  grid-template-columns: 200px 200px;
  justify-content: center;
  column-gap: 500px;
  margin-left: -250px;
}
.box{
  /* background-color: burlywood; */
  margin-top: 100px;
  padding: 10px 500px 5px 10px;
  display: grid; 
  grid-template-columns: 70px 400px;
}
@media (max-width:768px) {
  .hero-container{
  /* grid-template-rows: 300px; */
  display: flex;
  flex-direction: column;
  width: 200px;
  }
}
.branch-logo,.manage-acc-logo,.org-project-logo,.billing-logo{
  height: 55px;
}
#branch-discription{
  font-size: 25px;
  margin-top: 5px;
  width: 400px;
}
#learn-tag{
  color: var(--more-tag);
  font-size: 22px;
  margin-top: 10px;
  cursor: pointer;
  transition: color 0.15s;
}
#learn-tag:hover{
  color: rgba(66, 66, 238, 0.616);
}
#branch-content{
  display: flex;
  flex-direction: column;
}

footer{
  height: 250px;
  background-color: var(--main-color);
  color: var(--text-color);
  display: grid;
  grid-template-columns: repeat(5,200px);
  column-gap: 200px;
  font-size: 20px;
  /* padding-left: 550px; */
  padding-top: 50px;
  margin-top: 120px;
  justify-content: center;
  list-style: none;
}
footer ul{
  padding-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
}
.abs,.resources,.community,.company,.contact-us{
  font-weight: 300;
}
.copyright{
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 620px;
}
