* {
  padding: 0;
  margin: 0;
  font-family: prompt, roboto, sans-serif;
}

:root {
  --main-color: #1a2456;
  --secondery-color: #fdbfac;
  --hero-background-color: #f0efed;
  --product-status-color: #6c757d;
  --hover-text-color: #fc835f;
}

body {
  height: 5000px;
  background-color: var(--hero-background-color);
}

nav {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  padding: 0 12px;
  background-color: var(--main-color);
  color: var(--secondery-color);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 1px 11px 35px rgba(0, 0, 0, .15);
}

/* hamburger */
/* Hide checkbox */
#menu-toggle {
  display: none;
}

/* Hamburger icon */
.hamburger {
  font-size: 25px;
  cursor: pointer;
  display: none;
}

/* Sidebar menu */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  /* hidden */
  width: 250px;
  height: 100%;
  background: var(--main-color);
  transition: 0.3s;
  padding-top: 60px;
}

/* Menu links */
.sidebar a {
  display: block;
  margin-left: 10px;
  border-top: 2px solid #162049e8;
  padding: 12px 20px;
  font-weight: 300;
  color: var(--secondery-color);
  text-decoration: none;
  letter-spacing: 1.2px;
}

/* When checkbox is checked → slide menu */
#menu-toggle:checked~.sidebar {
  left: 0;
}

.carts-icon {
  height: 28px;
  margin-top: -6px;
}

.hamburger-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.currency {
  margin-left: -2px;
}

hr {
  height: 0.3px;
}

.slider-icon {
  margin-right: 10px;
}

.slider-icons-container {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 20px;
}

.slider-icons-container span {
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;
}

.silde-bar-items ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.silde-bar-items li {
  border-bottom: 2px solid #162049e8;
  font-size: 13px;
}

.s-bold,
.sidebar .shp-bold {
  font-weight: 500;
}

nav ul {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 12px;
  margin-right: 25px;
}

nav ul li {
  font-size: 12px;
  word-spacing: 5px;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: color 0.20s;
}

nav ul li:hover {
  color: var(--hover-text-color);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo span {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 15px;
}

select {
  appearance: none;
  /* width: px; */
  font-size: 12px;
  padding: 2px 2px;
  background-color: transparent;
  color: var(--secondery-color);
  border: none;
  margin-left: 15px;
}

select option {
  color: black;
}

.hero {
  width: 100vw;
  height: 20v;
  position: relative;
}

.hero-bg-img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  vertical-align: middle;
}

.tinted-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 700px;
  background-color: rgba(20, 1, 1, 0.589);
}

.hero-text {
  position: absolute;
  top: 37%;
  left: 38%;
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.hero-text h1 {
  color: #f7d5ca;
  text-transform: uppercase;
  word-spacing: 10px;
  line-height: 1.2;
  letter-spacing: 4px;
  font-size: 2.5rem;
  width: 100%;
}

.hero-text p {
  width: 100%;
  color: #f7d5ca;
  font-size: 18px;
}

/* .down-key {*/
/*  color: rgb(250, 250, 250);*/
/*  bottom: 1em;*/
/*  top: 39.3rem;*/
/*  font-size: 2.5rem;*/
/* left: 0; */
/*  position: absolute;*/
/*  right: 30px;*/
/*  text-align: center;*/
/*  width: 100%;*/
/*  z-index: 2;*/
/*  transition: transform 0.30s ease;*/
/*  cursor: pointer;*/
/*} */

.product-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 50px;
  column-gap: 40px;
  position: relative;
  width: 80vw;
  margin-left: 15%;
  margin-top: 2%;
}



.box-5 {
  width: 55.6vw;
  /* background-color: rgb(8, 255, 255); */
  max-width: 1500px;
  /*min-width: 1050px;*/
}

.product-info {
  color: var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 10px 0; */
  /* position: relative; */
  align-items: center;
  width: 100%;
}

.product-name {
  /* width: 100%; */
  /* color: var(--main-color); */
  font-weight: 600;
  font-size: 25px;
}


.product-info .product-status {
  color: var(--product-status-color);
  font-size: 18px;
}

.box,
.box-5 p {
  color: var(--main-color);
}

.product-discription {
  font-weight: 300;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  /* margin-left: -20px;
    margin-right: -20px; */
}

.figure {
  width: 100%;
  position: relative;
}

.figure p {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: var(--secondery-color);
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  border: none;
  text-transform: uppercase;
  padding: 4px 10px
}

.image-main {
  width: 100%;
}

.image-hover {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}

.image-hover:hover {
  opacity: 1;
}

.image-main-5 {
  height: 63.5vh;
}

.own-ground-container {
  background-color: #c4c4c4;
  position: relative;
  margin-top: 50px;
}

.own-img {
  height: 500px;
  display: block;
  margin: 0 auto;
}

.own-ground-text {
  position: absolute;
  color: var(--main-color);
  top: 0;
  left: 35vw;
  text-align: center;
}

.own-ground-text h1 {
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-top: 50px;
  font-size: 40px;
  text-transform: uppercase;
}

.own-ground-text p {
  word-spacing: 2px;
  margin-top: 2px;
  font-size: 20px;
  font-weight: 300;
}

/* .footer-hero { */
/* background-color: #f0efed; */
/* overflow: hidden; */
/* position: relative; */
/* width: 100%; */
/* width: 100vw; */
/* z-index: 1; */
/* overflow: visible; */
/* } */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  /* box-sizing: border-box; */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 53px;
  margin-top: 50px;
  column-gap: 25px;
  row-gap: 100px;
  justify-content: center;
}

.footer-hero-box {
  cursor: pointer;
  width: 23vw;
  height: 37vh;
}

.image-container {
  position: relative;
}

.monogram-keyboard-img {
  width: 100%;
  height: 38vh;
  object-fit: cover;
}

.monogram-keyboard-img-hover {
  width: 100%;
  height: 38vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity .2s;
}

picture p {
  position: absolute;
  top: -273px;
  right: 0;
  background-color: var(--hover-text-color);
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  border: none;
  text-transform: uppercase;
  padding: 4px 10px;
}

.figure p {
  background-color: var(--hover-text-color);

}

.monogram-keyboard-img-hover:hover {
  opacity: 1;
}

.btn {
  color: var(--hero-background-color);
  background-color: var(--main-color);
  position: absolute;
  right: 0;
  bottom: -43px;
  border: none;
  padding: 7px 9px;
  border-radius: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
  transition: opacity .2s;
}

.btn:hover {
  opacity: 1;
}

.footer-box {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  gap: 10px;
}

.footer-container {
  background-color: var(--main-color);
  color: var(--secondery-color);
  height: 35vh;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -20px;
  margin-right: -20px; */
  margin-top: 150px;
  column-gap: 50px;
  row-gap: 100px;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
}

address {
  font-style: normal;
  line-height: inherit;
}

.footer-container ul li {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-bottom: 5px;
}

.footer-container ul li a:hover {
  text-decoration: underline;
  color: var(--hover-text-color);
}

a {
  color: var(--secondery-color);
  text-decoration: none;
}

.order-5 {
  width: 21vw;
}

.services-tag-name {
  margin-bottom: 15px;
  margin-top: 50px;
}

.subscription-form div {
  margin-top: 10px;
  display: flex;
  /* flex-direction: column; */
}

.email {
  background-color: transparent;
  border: 1px solid var(--secondery-color);
  padding: 3px 5px;
  color: var(--hero-background-color);
  width: 8vw;
  margin-right: 15px;
}

.email::placeholder {
  color: var(--hero-background-color);
  font-size: 13px;
  font-weight: 100;
}

.sbmit {
  background-color: var(--secondery-color);
  color: var(--main-color);
  padding: 0 15px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.sbmit:hover {
  background-color: var(--hover-text-color);
}

.social-media {
  display: flex;
  flex-direction: row;
  column-gap: 7px;
  margin-bottom: 15px;
}

.insta,
.twiter,
.facebook,
.youtube {
  padding: 1px;
  background-color: var(--secondery-color);
  border-radius: 20px;
  height: 30px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 990px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
  }

  /* Show menu when toggled */
  #menu-toggle:checked~.menu {
    display: block;
  }

  nav ul li {
    display: none;
  }

  .wkfl {
    display: none;
  }

  .hero-bg-img,
  .tinted-img {
    width: 108%;
  }

  .hero-text {
    top: 36%;
    left: 23%;
    width: 58%;
  }

  .box {
    width: 373px;
  }

  .box-5 {
    width: 85.6vw;
  }

  .footer-hero-box {
    width: 44vw;
  }
  .footer-container{
    width: 108vw;
  }
}
