/* 13a Prectice Exercise */
.flex-container{
    display: flex;
    flex-direction: row;
     height: 50px;
}
.column1{
    background-color: lightpink;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}
.item1{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    width: 40px;
}
.column2{
    background-color:lightblue;
    width: 200px;
}

/* 13b Prectice Exercise */
.flex-container-13b{
    display: flex;
    height: 60px;
    
}
.item1{
    background-color: lightpink;
    width: 150px;
}
.flex-nested-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item2{
    background-color:lightblue;
    width: 200px;
}
.row2{
    background-color: black;
    color: white;
}
.row1{
    margin-top: 5px;
}
/* 13c,d,e Prectice Exercise */
div {
  font-family: Arial;
}

.box{
   padding-left: 15px;
   padding-right: 15px;
   padding-top:10px;
   padding-bottom: 10px;
   box-shadow: 0 0 5px rgba(0,0,0,0.25);
   border-radius: 5px;
   margin-top: 20px;
   margin-left: 20px;
   width: 400px;
}

.email{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.email-content{
    flex 1;
}
.sender-picture-container{
    margin-right: 10px;
}
.profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}
.inbox{
    font-size: 14px;
   margin-bottom: 20px;
   color: rgb(120,120,120);
}
.email-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     align-items: center;
    margin-bottom: 3px;
}
.sender-name{
    font-weight: bold;
    font-size: 18px;
}
.time{
    color: rgb(120, 120, 120);
    font-size: 14px;
}
.sale{
    font-weight: bold;
    margin-bottom: 5px;
}
.sender-message{
    color: rgb(120,120,120);
}

/* 13f,g prectice exercise stylesheet */

div{
    font-family: Arial;
}
.Tweet-user{
    display: flex;
     flex-direction: row;
  width: 420px;
  margin-top: 10px;
  margin-left: 20px;
}

.profile-picture-column{
    margin-left:5px ;
}

.profile-pic{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    object-fit: cover;
    margin-right:5px;
}
.header{
    display: flex;
}
.tweet{
    flex: 1;
}
.tweet-author{
    font-size: 13px;
    font-weight: bold;
}
.tweet-author-handle{
    color: rgb(111, 111, 111);
    font-size: 13px;
}
.tweet-msg{
    font-size: 15px;
}
.video-info-column {
  flex: 1;
}
.video-preview{
     display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-radius: 15px;
  overflow: hidden;
}
.thumbnail-column {
  width: 100px;
  height: 100px;
  background-color: rgb(220, 220, 220);
  margin-right: 10px;
}
.video-website{
    color: rgb(120, 120, 120);
    margin-bottom: 3px;
}
.video-title {
  line-height: 22px;
}
.tweet-content {
  line-height: 20px;
  margin-bottom: 15px;
}
