/* 13a Prectice Exercise */
.flex-container{
    display: flex;
    flex-direction: row;
     height: 50px;
}
.column1{
    background-color: lightpink;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}
.item1{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    width: 40px;
}
.column2{
    background-color:lightblue;
    width: 200px;
}

/* 13b Prectice Exercise */
.flex-container-13b{
    display: flex;
    height: 60px;
    
}
.item1{
    background-color: lightpink;
    width: 150px;
}
.flex-nested-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item2{
    background-color:lightblue;
    width: 200px;
}
.row2{
    background-color: black;
    color: white;
}
.row1{
    margin-top: 5px;
}
/* 13c,d,e Prectice Exercise */
div {
  font-family: Arial;
}

.box{
   padding-left: 15px;
   padding-right: 15px;
   padding-top:10px;
   padding-bottom: 10px;
   box-shadow: 0 0 5px rgba(0,0,0,0.25);
   border-radius: 5px;
   margin-top: 20px;
   margin-left: 20px;
   width: 400px;
}

.email{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.email-content{
    flex 1;
}
.sender-picture-container{
    margin-right: 10px;
}
.profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}
.inbox{
    font-size: 14px;
   margin-bottom: 20px;
   color: rgb(120,120,120);
}
.email-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     align-items: center;
    margin-bottom: 3px;
}
.sender-name{
    font-weight: bold;
    font-size: 18px;
}
.time{
    color: rgb(120, 120, 120);
    font-size: 14px;
}
.sale{
    font-weight: bold;
    margin-bottom: 5px;
}
.sender-message{
    color: rgb(120,120,120);
}
