*{
    font-family: roboto,Arial;
}
body{
    /*height: 1800px;*/
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #200436;
    color: rgb(250,250,250);
}
.items{
    text-decoration: none;
    list-style: none;
    display: flex;
    margin-right: 20px;
}
.items li{
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.items li:hover{
    background-color: rgba(250,250,250,0.27);
    border: none;
    border-radius: 2px;
}
.title{
    margin-left: 5px;
    font-weight: 700;
    font-size: 17px;
}
.social-contact{
    display: flex;
    padding-top: 200px;
}
.admin-information{
    background-color: #023645;
    color: rgb(250,250,250);
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.fb-container,.tweet-container,.pinterest-container,.insta-container{
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #f54e42;
    border-radius: 100px;
    margin-left: 5px;
    bottom: px;
    margin-left: 12px;
}
.fb-icon,.tweet-icon,.pinterest-icon,.insta-icon{
    height: 22px;
    position: absolute;
    top: 8px;
    left: 8px;
}
h2{
    margin-left: 20px;
    font-size: 40px;
}
.persnal-info{
    margin-left: 20px;
    width: 55%;
    color: #dce2e3;
}
.portfolio{
    background-color: transparent;
    border: 2px solid #f54e42;
    border-radius: 100px;
    width: 120px;
    padding: 10px;
    color: rgb(250,250,250);
    font-weight: 500;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.35s;
}
.portfolio:hover{
    background-color: #f54e42;
}
.portfolio-items{
    display: flex;
    column-gap: 10px;
}
.play-btn{
    border: none;
    background-color: #f54e42 ;
    border-radius: 50px;
}
.play{
    padding: 8px 20px 8px 20px;
    height: 15px;
}
.services-container h5{
    margin: 0;
    padding: 0;
}
.title-servi{
    color:#f54e42 ;
    margin: 0;
    padding: 0;
}
.services-container{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    text-align: center;
    background-color: #200436;
    color: rgb(250,250,250);
}
.about-service{
    color: #dce2e3;
    font-size: 15px;
}
hr {
  border: none;
  height: 2px;
  width: 45px;
  background: #f54e42;
  margin-left: 46%;
}

.grid-main-container{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    row-gap: 30px;
    column-gap: 30px;
    /*margin-left: 40px;*/
    justify-content: center;
}
.web-development,.web-design,.video-editing,.photography,.app-developing,.seo-expart{
    position: relative;
    height: 200px;
    background-color:#023645;
    border-radius: 5px;
}
.git-hub,.web-design-icon,.video-editing-icon,.photography-icon{
    position: absolute;
    top: 0;
    left: 2px;
    height: 42px;
    margin-top: 5px;
}
h4{
    position: absolute;
    left: 12px;
    top: 25px;
    margin-top: 25px;
}
.web-development p,.web-design p,.video-editing p,.photography p
    {
    position: absolute;
    top: 50px;
    left: 12px;
    text-align: left;
    font-size: 14px;
     margin-top: 35px;
}
