body{
    height: 3000px;
}

.A14{
    display: flex;
    background-color: black;
    color: white;
    position: fixed;
    bottom 20px;
    right: 20px;
    top: 100px;
}
.B14{
    position: fixed;
    color: white;
    background-color: green;
    width: 100px;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: Arial;
}
