body{
    height: 3000px;
}

.A14{
    display: flex;
    background-color: black;
    color: white;
    position: fixed;
    bottom 20px;
    right: 20px;
    top: 100px;
}
.B14{
    position: fixed;
    color: white;
    background-color: green;
    width: 100px;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: Arial;
}
.C14{
    position: fixed;
    background-color: black;
    color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* 14D pretice exercise */
.B14{
    position: fixed;
    color: white;
    background-color: green;
    width: 100px;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: Arial;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.modal{
    background-color: white;
    width: 350px;
    height: 120px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.modal-title{
    font-family: Roboto,arial;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.close-btn{
    font-family: Roboto,arial;
    margin-top: 10px;
    font-weight: bold;
}
/* 14E Prectice Exercise stylesheet*/
.conatainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
   left: 0;
   right: 0;
   margin-left: 5px;
   margin-right: 5px;
   margin-top:5px;
}
.name-pic{
    display: flex;
    flex-direction: row;
    align-items: center
}
.profile-picture{
    width: 50px;
    border-radius: 25px;
}
.uer-name{
    font-family: roboto,Arial;
    font-weight: bold;
    margin-left: 5px;
}
.frnd-rqst-btn{
     background-color: rgb(24, 119, 242);
     color: rgb(250,250,250);
     border:none;
     border-radius: 5px;
     padding: 7px;
     font-weight: bold;
     cursor: pointer;
}
.msg-btn{
    background-color: rgb(230, 230, 230);
    color: rgb(0,0,0);
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
}
/* 14F prectice exercise */
body{
  height: 3000px;
}
.first-sidebar{
    display: flex;
    flex-direction: column;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(33, 33, 33);
}
.profile-pic1,.profile-pic2,.profile-pic3{
    width: 60px;
    border-radius: 30px;
    margin-bottom: 10px;
}
.second-sidebar{
   background-color: rgb(55, 55, 55);
   position: fixed;
   left: 75px;
   bottom: 0;
   top: 0;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 150px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.info{
    color: white;
    font-family: Roboto,arial;
    font-size: 14px;
}
.plus{
  font-weight: 700;
  font-size: 20px;
  color: rgb(150, 150, 150);
}
.channel{
    color: rgb(150, 150, 150);
    font-family: Roboto,arial;
    font-size: 17px;
    margin-bottom: 14px;
    
}

