body{
    height: 3000px;
}

.A14{
    display: flex;
    background-color: black;
    color: white;
    position: fixed;
    bottom 20px;
    right: 20px;
    top: 100px;
}
.B14{
    position: fixed;
    color: white;
    background-color: green;
    width: 100px;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: Arial;
}
.C14{
    position: fixed;
    background-color: black;
    color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* 14D pretice exercise */
.B14{
    position: fixed;
    color: white;
    background-color: green;
    width: 100px;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: Arial;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.modal{
    background-color: white;
    width: 350px;
    height: 120px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.modal-title{
    font-family: Roboto,arial;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.close-btn{
    font-family: Roboto,arial;
    margin-top: 10px;
    font-weight: bold;
}
